
<ion-grid>
  <ion-row>
    <ion-col width-100>
      <ion-list>
        <ion-item>
          <ion-label floating>{{ 'HOME.USERNAME' | translate }}</ion-label>
          <ion-input type="text" value=""></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>{{ 'HOME.PASSWORD' | translate }}</ion-label>
          <ion-input type="password" value=""></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>

  <ion-row center>
    <ion-col width-100>
      <button ion-button full>{{ 'LOGIN.SIGN' | translate }}</button>
    </ion-col>
  </ion-row>
</ion-grid>
